.psersonBriefBox[data-v-2ba1b088] {
  margin: 0 0 60px;
}
@media (min-width: 1200px) {
.psersonBriefBox[data-v-2ba1b088] {
    display: flex;
    align-items: flex-start;
}
}
.psersonBriefPic[data-v-2ba1b088] {
  max-width: 300px;
}
@media (min-width: 1200px) {
.psersonBriefPic[data-v-2ba1b088] {
    flex-shrink: 0;
    margin: 0 50px 0 0;
}
}
.psersonBrief[data-v-2ba1b088] {
  color: #FFFFFF;
  padding: 30px 0 0;
}
.psersonBriefName[data-v-2ba1b088] {
  margin: 0 0 20px;
}
.psersonBriefListBox[data-v-2ba1b088] {
  font-weight: 500;
}
.psersonBriefList[data-v-2ba1b088]:not(:last-child) {
  margin: 0 0 5px;
}
.psersonBriefBio[data-v-2ba1b088] {
  font-weight: 500;
  margin: 30px 0 0;
}
.psersonDramaBlock[data-v-2ba1b088] {
  color: #FFFFFF;
}
.psersonDramaBlock[data-v-2ba1b088]:not(:last-child) {
  margin: 0 0 60px;
}
.psersonDramaBlockTitle[data-v-2ba1b088] {
  margin: 0 0 10px;
}
.psersonDramaBlockTableBox[data-v-2ba1b088] {
  overflow-y: auto;
}
.psersonDramaBlockTable[data-v-2ba1b088] {
  border-collapse: collapse;
  width: 100%;
  max-width: 650px;
}
.psersonDramaBlockTable thead[data-v-2ba1b088] {
  background: #535353;
}
.psersonDramaBlockTable thead th[data-v-2ba1b088]:first-child, .psersonDramaBlockTable thead td[data-v-2ba1b088]:first-child {
  width: 110px;
}
.psersonDramaBlockTable thead th[data-v-2ba1b088]:nth-child(2), .psersonDramaBlockTable thead td[data-v-2ba1b088]:nth-child(2) {
  width: 300px;
}
.psersonDramaBlockTable thead th[data-v-2ba1b088]:nth-child(2), .psersonDramaBlockTable thead th[data-v-2ba1b088]:nth-child(3), .psersonDramaBlockTable thead td[data-v-2ba1b088]:nth-child(2), .psersonDramaBlockTable thead td[data-v-2ba1b088]:nth-child(3) {
  text-align: left;
}
.psersonDramaBlockTable th[data-v-2ba1b088], .psersonDramaBlockTable td[data-v-2ba1b088] {
  border: 1px solid #535353;
  white-space: nowrap;
  padding: 4px 10px;
}