.PersonItem[data-v-fab6e65c] {
  background: var(--colorFifth);
  transition: all 0.2s ease-in-out;
  width: 100px;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
.PersonItem[data-v-fab6e65c]:hover {
    background: var(--colorThird);
}
.PersonItem:hover img[data-v-fab6e65c] {
    transform: scale(1.05);
}
}
.PersonItem[data-v-fab6e65c]:not(:last-child) {
  margin-right: 20px;
}